<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/matrix-admin-master/assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/matrix-admin-master/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/matrix-admin-master/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
       
        @Html.Partial("Partials/Admin/_Header")

        @Html.Partial("Partials/Admin/_SideBar")
        
        <div class="page-wrapper">
            @Html.Partial("Partials/Admin/_Breads")
            <div class="container-fluid">
                @RenderBody()
            </div>
            @Html.Partial("Partials/Admin/_Footer")
        </div>
    </div>




    <script src="~/matrix-admin-master/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/matrix-admin-master/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/matrix-admin-master/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/matrix-admin-master/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/matrix-admin-master/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/matrix-admin-master/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/matrix-admin-master/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/matrix-admin-master/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/matrix-admin-master/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/matrix-admin-master/assets/libs/magnific-popup/meg.init.js"></script>
</body>

</html>